extends layout

block content
    div.account-card.text-center
        span Signed in as
        a.no-decoration(href= "https://twitter.com/"+userInfo.screen_name, target="_blank")
            span.screen-name #{userInfo.screen_name}
        a.logout(href="/logout") Sign-out
    h1.text-center= title
    div.view
        h2.text-center(data-bind='text: title')
        div.pane-left.pane
            div.pane.gmap-column
                div.relative
                    input.geo-autocomplete(data-bind="geoAutocomplete: '.gmap'", type="search")
                    button.show-hide-controls(data-bind='toggleSettingsPanel: true')
                        span.icon.icon-wrench
                    include settings-panel
                div#gmap.gmap()
        div.pane-right.pane
            ul#tweet-list.scroll(data-bind='setHeight: needSetHeight')
                button.button-show-incoming(data-bind='visible: hidedIncomingCount()>0, click: showHidedStatuses', style='display: none;')
                    span New statuses:&nbsp;
                    span(data-bind='text: hidedIncomingCount')
                div.preloader(data-bind='visible: restLoadingNow')
                button.button-request-previous(data-bind='click: needMore, visible: !restLoadingNow()', style='display: none;')
                    span Load more
    footer
        section.inner-info
            span(data-bind='text: displayedCount')
            span &nbsp;of&nbsp;
            span(data-bind='text: receivedCount')
        section.inner-info
            span(data-bind='text: receiveSpeed')
            span &nbsp;tw/min
        a(href="https://twitter.com/maxnetish", class="twitter-follow-button", data-show-count="false", data-lang="#{langCode}") Follow me
    script#tweet-template(type='text/html')
        include tweet_template_mini
    script#tweet-template-details(type='text/html')
        include tweet_template_details
    script.
        window.gt_config={};
        window.gt_config.langCode = "#{langCode}";
        window.gt_config.ipGeolocation = !{ipGeocode};
    if developmentMode
        script(src="js/app.js", async)
    else
        script(src="js/app.min.js", async)
    include twitter_follow_script