extends layout

block content
    header
        div.account-card.text-center
            span Signed in as
            a.no-decoration(href= "https://twitter.com/"+userInfo.screen_name, target="_blank")
                span.screen-name #{userInfo.screen_name}
            a.logout(href="/logout") Sign-out
        h1.text-center= title
    div.pane-left.pane
        div.pane.gmap-column.relative
            div.relative
                geosearch-control(params="mapInstance: mapInstance, selectedResult: selectedGeosearchResult")
                button.show-hide-controls(data-bind='click: toggleFilterSettings')
                    span.icon.icon-wrench
            div.settings-wrapper(data-bind="component: {name: 'filter-settings-panel', params: {filters: filters}}, smoothShowHide: filterSettingsVisible")
            gmap-control(params="mapInstance: mapInstance, appState: appState, selectedGeosearchResult: selectedGeosearchResult")
    div.pane-right.pane.hide-initial(data-bind="css: {'hide-initial': viewModelNotReady}")
        selection-details-control(params="appState: appState, mapInstance: mapInstance")
        tweet-feed-control(params="showImmediate: showImmediate, hidedCount: tweetList.hidedCount, showHided: showHidedTweets, reset: tweetList.reset", data-bind="visible: appState.selection().lat")
        p.loading-map(data-bind="visible: mapNotYetLoaded") Loading map...
        div.app-tooltip(data-bind="visible: showAppTooltip") Click some area in map and see realtime feed of tweets.
        ul#tweet-list.scroll
            // ko foreach: {data: tweetList.visible, as: 'item'}
            li(data-bind="component: {name: 'tweet-ui-mini', params: {tweet: item, filters: $parent.filters}}")
            // /ko
            button.button-request-previous(data-old-bind="click: needMore, visible: !restLoadingNow()", style="display: none;")
                span Load more
    footer
        section.inner-info
            span(data-bind='text: tweetList.visibleCount')
        section.inner-info
            span(data-bind='text: tweetList.addingRate')
            span &nbsp;tw/min
        a(href="https://twitter.com/maxnetish", class="twitter-follow-button", data-show-count="false", data-lang="#{langCode}") Follow me
    //script#tweet-template(type='text/html')
        include tweet_template_mini
    //script#tweet-template-details(type="text/html")
        include tweet_template_details
    script#geosearch-result-item-tpl(type="text/html")
        include templates/geosearch-result-item.tpl.jade
    script#geosearch-control-tpl(type="text/html")
        include templates/geosearch-control.tpl.jade
    script#selection-details-tpl(type="text/html")
        include templates/selection-details-control.tpl.jade
    script#filter-settings-panel-tpl(type="text/html")
        include templates/filter-settings-panel.tpl.jade
    script#tweet-ui-mini-tpl(type="text/html")
        include templates/tweet-ui-mini.tpl.jade
    script#tweet-feed-control-tpl(type="text/html")
        include templates/tweet-feed-control.tpl.jade
    script.
        window.gt_config={};
        window.gt_config.langCode = "#{langCode}";
        window.gt_config.ipGeolocation = !{ipGeocode};
    if developmentMode
        script(src="js/app.js", defer)
    else
        script(src="js/app.min.js", defer)
    include twitter_follow_script