extends layout

block content
    div#react-wrapper !{prerendered}
    script.
        window.gt_config={};
        window.gt_config.langCode = "#{langCode}";
        window.gt_config.ipGeolocation = !{ipGeocode};
        window.gt_config.userInfo = {screen_name: "#{userInfo.screen_name}"};
        window.gt_config.title = "#{title}";
    if developmentMode
        script(src="js/app.js", defer)
    else
        script(src="js/app.min.js", defer)
    include twitter_follow_script